---
layout: default
---

{% for post in paginator.posts %}
<section class="teaser">
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	<div class="post-date">{{ post.date }}</div>
    <div class="entry">
      {{ post.excerpt }}
    </div>
	{% if post.excerpt.size < post.content.size %}
    <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a></p>
	{% endif %}
</section>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      &laquo; Previous
    </a>
  {% endif %}

  <span class="page-number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">
      Next &raquo;
    </a>
  {% endif %}
</div>
