<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include seo.html %}

<link rel="stylesheet" href="{{ "/assets/styles/base.css?v=" | append: site.github.build_revision | relative_url }}">
{% if page.style %}
<style>{{page.style}}</style>
{% endif %}

{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}

{% if site.comments_script_url %}
<script type="module" src="{{ site.comments_script_url }}"></script>
{% endif %}
</head>
<body>

<header>
  <h1>
    <a href="{{ "/" | absolute_url }}">{{ site.title }}</a>
    {% if page.title %} — {{ page.title }}{% endif %}
  </h1>
  {% if page.banner_image %}
  <div class="banner-image">
    <div>
      <div>
        <img src="{{ page.banner_image }}" alt="{{ page.banner_image_alt }}">
        {% if page.banner_image_credit %}
        <span>{{ page.banner_image_credit }}</span>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</header>

<div class="scroller">
