{% include header.html %}
<main class="post">
<article>

<header>
  <h1>{{ page.title }}</h2>
  <div class="post-metadata">
    {{ page.date | date: site.date_format }}
    {% for category in page.categories %}
    <span><a href="/category/{{ category | slugify }}">{{ category }}</a></span>
    {% endfor %}
  </div>
</header>

<div class="post-body">
{{ content }}
</div>

{% if page.author %}
<div class="author-box">
  <img src="{{ site.authors[page.author]['photo'] }}">
  <div>
    <div class="author-byline">{{ page.author }}</div>
    <div class="author-blurb">
      {{ site.authors[page.author]['blurb'] | liquid }}
    </div>
  </div>
</div>
{% endif %}

<section id="comments"></section>

</article>
</main>
{% include footer.html %}
